<div>
  <div class="row my-2">
    <div class="col-10">
      <h3>All of the events should show below</h3>
    </div>
    <div class="col-2 text-right">

    </div>
  </div>

  <button routerLink="/event-editor" class="btn btn-success btn-block btn-lg">Edit</button>

  <table class="table">
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Time</th>
        <th>Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of eventList$ | async">
        <td>{{event.name}}</td>
        <td>{{event.date}} </td>
        <td>{{event.time}}</td>
        <td>{{event.location}}</td>
        <td>
          <div class="btn-group">
            <button [routerLink]="['event/' + event.id]" class="btn btn-info">
              <i class="fa fa-pencil"></i>
            </button>
            <button (click)="onDelete(event)" class="btn btn-danger">
              <i class="fa fa-trash"></i>
            </button>

          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
